html {
    background: radial-gradient(circle at top left, #660000 0%, #000000 50%);
    height: 190%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: max(320px, 60%);
    margin: 24px auto 0;
    padding: 8px 8px 0;
}

code {
    user-select: all;
    overflow-x: hidden;
    display: block;
    background: rgba(255,255,255,0.1);
    padding: 0rem 1rem;
    border:1px solid rgba(255, 255, 255, 0.4);
}

.white {
    color: #ffffff;
}

h1, h2, h3, p {
    text-align: left;
}

h1 {
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
}